<h1>Admin Dashboard</h1>

<div class="admin-dashboard">
  <h2>Manage</h2>
  <ul>
    <ol><%= link_to 'Manage Users', admin_users_path, class: 'btn btn-primary' %></ol>
    <ol><%= link_to 'Manage Cabanas', admin_cabanas_path, class: 'btn btn-primary' %></ol>
    <ol><%= link_to 'Manage Reservas', admin_reservas_path, class: 'btn btn-primary' %></ol>
    <ol><%= link_to 'Manage Services', admin_services_path, class: 'btn btn-primary' %></ol>
  </ul>
</div>
