<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<footer>
    <div
        class="p-10 sm:p-20 w-full flex sm:flex-row flex-col sm:justify-around gap-10 font-dm font-normal text-gray-500 sm:leading-8">
        <div class="sm:flex flex-col hidden">
            <img src="<%= asset_path 'logo.jpeg' %>" class="sm:max-h-40">
        </div>
        <div class="flex flex-col gap-8">
            <div>
                <p class="uppercase">Villaggio Girotto</p>
            </div>
            <div class="flex flex-col gap-2">
                <p>Termos e Condições</p>
                <p>Política de Privacidade</p>
                <p>Sobre Nós</p>
            </div>
            <hr class="w-full max-w-full h-px sm:hidden" />
        </div>
        <div class="flex flex-col gap-8">
            <div>
                <p class="uppercase">Entre em Contato</p>
            </div>
            <div class="flex flex-col gap-8">
                <div class="flex flex-col gap-6">
                    <a href="mailto:villaggiogirotto@gmail.com" target="_blank">villaggiogirotto@gmail.com</a>
                    <p class="cursor-pointer hover:text-verde-escuro">(35) 99853-5301</p>
                </div>
                <hr class="w-full max-w-full h-px sm:hidden" />
            </div>
        </div>
        <div class="flex flex-col sm:gap-8 gap-4">
            <div class="flex">
                <p class="uppercase">Siga as nossas páginas!</p>
            </div>
            <div class="flex gap-12 sm:justify-center items-center">
                <a href="https://www.instagram.com/villaggiogirotto/" target="_blank">
                    <i class="fab fa-instagram text-3xl cursor-pointer hover:text-verde-escuro"></i>
                </a>
                <a href="https://www.tiktok.com/@villaggiogirotto?_t=8pAL6ZVdRgM&_r=1" target="_blank">
                    <i class="fab fa-tiktok text-2xl cursor-pointer text-gray-500 hover:text-verde-escuro"></i>
                </a>
            </div>
        </div>
    </div>
</footer>