<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
        .shadow-on-scroll {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<div class="swiper-container swiper-header h-screen">
    <div class="swiper-wrapper relative">
        <div class="absolute inset-0 flex flex-col gap-4 items-center justify-center z-10">
            <p class="text-base text-creme font-alice">Villaggio Girotto</p>
            <p class="text-xl text-creme font-dm text-center max-w-9/10">Reconecte-se e revigore seus sentidos em cenários de beleza natural incomparável. Com experiências cheias de significado, uma hospitalidade atenta e práticas de bem-estar inovadoras, tudo isso faz parte da essência de cada Villaggio</p>
            <div id="reserva-container" class="w-full justify-center absolute top-16 z-10 hidden opacity-0 transform scale-95 transition-all duration-500 ease-in-out">
                <%= render 'shared/formCabanas' %>
            </div>
        </div>
        <div class="swiper-slide p-4 sm:hidden"
            style="background-image: url('<%= asset_path('home1.png') %>'); background-size: cover; background-position: center;">
        </div>
    </div>
</div>

<div class="z-10 fixed top-0 left-0 p-4 w-full header-bg bg-transparent flex items-center justify-between">
    <p id="open-reserva" class="font-dm text-creme uppercase text-base ml-auto">Reservar</p>
    <i class="fa-solid fa-chevron-right text-creme text-xs"></i>
</div>




<script>
    document.getElementById('open-menu').addEventListener('click', function () {
        document.getElementById('menu-container').classList.remove('-translate-x-full');
        document.getElementById('menu-overlay').classList.remove('opacity-0');
        document.getElementById('menu-overlay').classList.remove('pointer-events-none');
        document.body.classList.add('overflow-hidden');
    });

    document.getElementById('close-menu').addEventListener('click', function () {
        document.getElementById('menu-container').classList.add('-translate-x-full');
        document.getElementById('menu-overlay').classList.add('opacity-0');
        document.getElementById('menu-overlay').classList.add('pointer-events-none');
        document.body.classList.remove('overflow-hidden');
    });

    document.getElementById('toggle-cabanas').addEventListener('click', function () {
        const submenus = document.querySelectorAll('.submenu-cabanas');
        const arrow = document.getElementById('arrow-cabanas');
        submenus.forEach(submenu => {
            if (submenu.style.maxHeight) {
                submenu.style.maxHeight = null;
                arrow.style.transform = 'rotate(0deg)';
            } else {
                submenu.style.maxHeight = submenu.scrollHeight + "px";
                arrow.style.transform = 'rotate(180deg)';
            }
        });
    });


    document.getElementById('open-reserva').addEventListener('click', function() {
        const reservaContainer = document.getElementById('reserva-container');
    
        if (reservaContainer.classList.contains('hidden')) {
            reservaContainer.classList.remove('hidden');
            reservaContainer.classList.add('flex');
            setTimeout(() => {
                reservaContainer.classList.remove('opacity-0', 'scale-95');
                reservaContainer.classList.add('opacity-100', 'scale-100');
            }, 10);  // Atraso mínimo para ativar a transição
        } else {
            reservaContainer.classList.add('opacity-0', 'scale-95');
            reservaContainer.classList.remove('opacity-100', 'scale-100');
            setTimeout(() => {
                reservaContainer.classList.add('hidden');
            }, 300);  // Aguarda a animação terminar antes de esconder o elemento
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const openMenuButton = document.querySelector('.header-bg');
        const menuIcon = document.querySelector('.icon-color');
        menuIcon.classList.add('text-creme');
        openMenuButton.classList.add('bg-transparent');

        window.addEventListener('scroll', function () {
            if (window.scrollY > 50) {
                openMenuButton.classList.remove('bg-transparent');
                openMenuButton.classList.add('bg-creme', 'transition-colors', 'duration-1000', 'ease-in-out', 'shadow-on-scroll');
                menuIcon.classList.remove('text-creme');
                menuIcon.classList.add('text-terracota', 'transition-colors', 'duration-300', 'ease-in-out');
            } else {
                openMenuButton.classList.remove('bg-creme', 'shadow-on-scroll');
                openMenuButton.classList.add('bg-transparent', 'transition-colors', 'duration-1000', 'ease-in-out');
                menuIcon.classList.remove('text-terracota');
                menuIcon.classList.add('text-creme', 'transition-colors', 'duration-300', 'ease-in-out');
            }
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        var headerSwiper = new Swiper('.swiper-header', {
            loop: true,
            autoplay: {
                delay: 3000,
            },
            speed: 3000,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },
            pagination: false,
            navigation: false,
            allowTouchMove: false,
            disableOnInteraction: true
        });
    });

    AOS.init({
        once: true,
        duration: 2000,
    });


</script>
