<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
        .shadow-on-scroll {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<div id="menu-overlay"
    class="fixed inset-0 z-10 bg-black opacity-0 pointer-events-none transition-opacity duration-1000 sm:hidden">
</div>

<div id="menu-container"
    class="h-screen px-8 pt-32 pb-8 font-dm font-normal text-gray-500 sm:hidden fixed top-0 left-0 w-full bg-white z-50 transform -translate-x-full transition-transform duration-1000 ease-in-out flex flex-col justify-between">
    <div class="fixed top-4 left-4">
        <button id="close-menu"><i class="bi bi-x text-preto-fill text-5xl block sm:hidden"></i></button>
    </div>
    <div class="text-lg flex flex-col gap-4 leading-8">
        <div>
            <div id="toggle-cabanas" class="flex gap-2 items-center">
                <button class="hover:text-terracota">
                    <p class="hover:text-terracota">Cabanas</p>
                </button>
                <i id="arrow-cabanas" class="fa-solid fa-arrow-down text-sm"></i>
            </div>
            <div class="pl-4 max-h-0 overflow-hidden transition-all duration-700 ease-in-out submenu-cabanas">
                <a href="#" class="hover:text-terracota underline">Ver Todas</a>
            </div>
            <div class="pl-4 max-h-0 overflow-hidden transition-all duration-700 ease-in-out submenu-cabanas">
                <a href="#" class="hover:text-terracota">Nuvolo</a>
            </div>
            <div class="pl-4 max-h-0 overflow-hidden transition-all duration-700 ease-in-out submenu-cabanas">
                <a href="#" class="hover:text-terracota">Valle</a>
            </div>
            <div class="pl-4 max-h-0 overflow-hidden transition-all duration-700 ease-in-out submenu-cabanas">
                <a href="#" class="hover:text-terracota">Collina</a>
            </div>
        </div>
        <a href="#">
            <p class="hover:text-terracota">Sustentabilidade</p>
        </a>
        <a href="#">
            <p class="hover:text-terracota">Experiências</p>
        </a>
        <a href="#">
            <p class="hover:text-terracota"><%= link_to "Sobre Nós", "/about" %></p>
        </a>
    </div>
    <div class="flex items-center gap-4">
        <a href="#">
            <p class="font-alice text-lg hover:text-terracota font-bold">Minhas Reservas</p>
        </a>
    </div>
</div>



<div id="open-menu" class="z-10 fixed top-0 left-0 py-2 px-4 w-full header-bg bg-transparent">
    <button>
        <i class="bi bi-list-nested text-terracota text-3xl icon-color"></i>
    </button>
</div>


<script>
    document.getElementById('open-menu').addEventListener('click', function () {
        document.getElementById('menu-container').classList.remove('-translate-x-full');
        document.getElementById('menu-overlay').classList.remove('opacity-0');
        document.getElementById('menu-overlay').classList.remove('pointer-events-none');
        document.body.classList.add('overflow-hidden');
    });

    document.getElementById('close-menu').addEventListener('click', function () {
        document.getElementById('menu-container').classList.add('-translate-x-full');
        document.getElementById('menu-overlay').classList.add('opacity-0');
        document.getElementById('menu-overlay').classList.add('pointer-events-none');
        document.body.classList.remove('overflow-hidden');
    });

    document.getElementById('toggle-cabanas').addEventListener('click', function () {
        const submenus = document.querySelectorAll('.submenu-cabanas');
        const arrow = document.getElementById('arrow-cabanas');
        submenus.forEach(submenu => {
            if (submenu.style.maxHeight) {
                submenu.style.maxHeight = null;
                arrow.style.transform = 'rotate(0deg)';
            } else {
                submenu.style.maxHeight = submenu.scrollHeight + "px";
                arrow.style.transform = 'rotate(180deg)';
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const openMenuButton = document.querySelector('.header-bg');
        const menuIcon = document.querySelector('.icon-color');
        menuIcon.classList.add('text-terracota');
        openMenuButton.classList.add('bg-transparent');

        window.addEventListener('scroll', function () {
            if (window.scrollY > 50) {
                openMenuButton.classList.remove('bg-transparent');
                openMenuButton.classList.add('bg-creme', 'transition-colors', 'duration-1000', 'ease-in-out', 'shadow-on-scroll');
                menuIcon.classList.remove('text-terracota');
                menuIcon.classList.add('text-terracota', 'transition-colors', 'duration-300', 'ease-in-out');
            } else {
                openMenuButton.classList.remove('bg-creme', 'shadow-on-scroll');
                openMenuButton.classList.add('bg-transparent', 'transition-colors', 'duration-1000', 'ease-in-out');
                menuIcon.classList.remove('text-terracota');
                menuIcon.classList.add('text-terracota', 'transition-colors', 'duration-300', 'ease-in-out');
            }
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        var headerSwiper = new Swiper('.swiper-header', {
            loop: true,
            autoplay: {
                delay: 3000,
            },
            speed: 3000,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },
            pagination: false,
            navigation: false,
            allowTouchMove: false,
            disableOnInteraction: true
        });
    });

    AOS.init({
        once: true,
        duration: 2000,
    });


</script>