<div>
    <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-4 px-6 pt-12">
            <div class="relative">
                <div class="p-4 sm:hidden h-96 relative"
                    style="background-image: url('<%= asset_path('home15.png') %>'); background-size: cover; background-position: center;">
                </div>
            </div>
            <div class="relative">
                <p class="uppercase font-dm text-gray-500 text-base max-w-40">Quer reservar pelo AirBnB ou
                    similar?</p>
                <div class="p-4 sm:hidden h-48 w-48 absolute bottom-0 right-8"
                    style="background-image: url('<%= asset_path('home16.png') %>'); background-size: cover; background-position: center;">
                </div>
            </div>
        </div>
        <div class="flex flex-col px-6 pb-16 gap-16">
            <div class="flex flex-col gap-4">
                <div>
                    <p class="font-alice text-preto-fill font-light text-2xl">Para você ficar ainda mais tranquilo te
                        damos essa opção.</p>
                </div>
                <p class="font-dm text-gray-500 text-base">Assim você pode confiar no Villaggio e saber que pode
                    selecionar a cabana e plataforma por aqui, mas...</p>
                <p class="font-alice text-preto-fill uppercase font-bold text-2xl pt-8">Por aqui é mais barato!</p>
            </div>

        </div>

    </div>
</div>